<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <form class="dropdown-menu p-4 logIn">
                <div class="form-group">
                    <label for="loginemail">Email address</label>
                    <input type="email" class="form-control" id="loginemail" placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="loginpswd">Password</label>
                    <input type="password" class="form-control" id="loginpswd" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">=
            <form class="dropdown-menu p-4 signUp">
                <div class="form-group">
                    <label for="signupUsername">User Name</label>
                    <input type="email" class="form-control" id="signupUsername" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="signupEmail">Email address</label>
                    <input type="email" class="form-control" id="signupEmail" placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="signupPswd">Password</label>
                    <input type="password" class="form-control" id="signupPswd" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>

<script src="../public/js/login.js"></script>