<div>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">title</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <form class="was-validated">
                <div class="mb-3">
                  <label for="validationTextarea">content</label>
                  <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                  <div class="invalid-feedback">
                    Please enter a message in the textarea.
                  </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>